#root {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.conteiner{
  margin: 0 auto;
  width: 80%;
  display: flex;
}
.item-container{
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header{
  height: 80px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  &_logo {
    background-color: #ebf46c;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black; 
    font-size: 30px; 
  }
  & .navList{
    display: flex;
    gap: 15px;
    & a{
      color: #fff;
    }
    & a:hover{
      color: #ebf46c;
    }
  }
  &_info{
    display: flex;
    gap: 10px;
    justify-content: center;
    & div{
      display: flex;
      gap: 5px;
      & p{
        width: 5px;
        margin: auto 5px;
      }
      & img{
        width: 50px;
        height: 50px;
      }
    }
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #242424;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}
.modal-close{
  position: absolute;
  top: 15px; 
  right: 15px; 
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
}
.modal-footer button{
  background-color: #ebf46c;
  color: black;
  width: 192px;
  height: 48px;
  text-transform: uppercase;
}

.modal-content{
  width: 560px;
  height: 333px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cartModal {
  & .modal-content{
    width: 560px;
    height: 558px;
  }
  & .modal-footer{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  & .modal-body{
    height: 50%;
  }
  & button:last-child {
    background-color: black;
    color: #ebf46c;
  }
}

.card {
  height: 480px;
  width: 350px;
  box-shadow: 0px 0px 15px 4px #000000;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card_img {
  width: 270px;
  height: 270px;
  border-radius: 5%;
  margin: 0 auto;
  margin-top: 5px;
}

.card_mainInfo {
  padding: 10px;
}

.card_mainInfo_name {
  font-size: 18px;
  margin: 0 auto;
}

.card_mainInfo_color {
  color: #555;
  margin: 5px auto;
}

.card_mainInfo_price {
  font-size: 18px;
  margin: 0;
}
.card_btnList{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.productsList{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.starBtn{
  padding: auto 0;
  img{
    height: 30px;
    width: 30px;
  }
}
.addToCart{
  &.added{
    color: #35b0dc;
    background-color: #fcf23e;
  }
}
.catrModalImg{
  width: 100%;
  height: 100%;
  object-fit:contain;
  object-position: center;
  border-radius: 5%;
}

.favoritePages, .cartPages{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}